/* ********************* */
/*    СТИЛИ ДЛЯ ADMIN    */
/* ********************* */

footer {
    color: green;
}

main table th,
main table td {
    border: 1px solid black;
    padding: 7px;
}

.success {
    color: green;
}

.error {
    color: red;
}